@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";
@keyframes pulseOut {
  0% {
    transform: scale(1);
    opacity: 0.8;
  }

  100% {
    transform: scale(2);
    opacity: 0;
  }
}

.animate-pulse-out {
  animation: pulseOut 2.2s ease-out infinite;
}