@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

body {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* --- Marquee animations --- */
.marquee-track {
  animation-duration: var(--marquee-duration, 18s);
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.marquee-left {
  animation-name: marqueeLeft;
}

.marquee-right {
  animation-name: marqueeRight;
}

@keyframes marqueeLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@keyframes marqueeRight {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }
}